@import './_var.scss';


.block-6{
    margin-bottom: 10%;
}

.card-wrapper__block-6 {
    display: flex;
    justify-content: center;
  }
  
  .card__block-6 {
    height: 33rem;
    margin: 1%;
    padding: 1%;
    background-color: $color-blue;
  }

  .img__block-6 {
    box-shadow: 0px 1px 4px 1px $color-gray;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 3vw;
    height: 6vh;
    top: 50%;
    background-color:$color-pink;
    border-radius: 25%;
  }

  .carousel-control-prev:hover {
        opacity: 0.5;
  }
  .carousel-control-next:hover {
    opacity: 0.5;
  }

  .title__block-6,
  .text__block-6 {
   font-family: $font;
   color:$color-gray;
  }
  .title__block-6 {
    margin: 10%;
    font-size: 4rem;
    font-weight: 700;
  }

  .text__block-6 {
    width: 70%;
    font-size: 0.7rem;
    font-weight: 400;
  }
  
