.block-4 {
    font-family: $font;
    color: $color-gray;
    margin: 6rem auto 6rem auto;

    .title-block-4 {
        font-weight: 700;
        font-size: 4rem;
        line-height: 4.7rem;
        margin: 0 0 4rem 0;
    }

    .block-4__image-block {
        position: relative;

        .block4__img {
            max-width: 100%;
            max-height: 100%;
        }

        .circle_b4_up {
            position: absolute;
            right: 13.5rem;
            bottom: 35rem;
            z-index: -1;

            @media screen and (max-width:991px) {
                display: none;
            }
        }
    }

    .block-4__text-block {
        padding-left: 4.5rem;
        position: relative;

        @media screen and (max-width:991px) {
            padding-left: 0rem;
        }

        .card-body__title {
            margin: 2rem 0 2rem 0;

            .card-title__block-4 {
                font-weight: 500;
                font-size: 2rem;
                line-height: 2.375rem;
                color: $color-gray;
                margin: 0;
            }

            .card-subtitle__block-4 {
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 1.75rem;
                color: $color-gray;
                margin: 0;
            }
        }

        .list-group__block4 {
            max-width: 37.125rem;
            padding-left: 0;
            margin-bottom: 0;

            .list-group-item {
                padding: 0 0 1.4rem 0;
                font-weight: 400;
                font-size: 1.125rem;
                line-height: 1.3rem;
                color: $color-gray;

                .bi-arrow-right-circle {
                    margin-right: 1.375rem;
                }

                .list-group-item__elements {
                    margin: 0;
                }

                #second_item {
                    max-width: 23.9375rem;
                }

                #fourth_item {
                    max-width: 29.9375rem;
                }
            }

            #list-group-item__fourth-element {
                padding: 0 0 1rem 0;
            }
        }

        .list-group__aboutme {
            padding-left: 3.58rem;

            @media screen and (max-width:991px) {
                padding-left: 2.5rem;
            }

            .list-group-item__second {
                padding: 0 0 1rem 0;
                font-weight: 400;
                font-size: 1.125rem;
                line-height: 1.3rem;
                color: $color-gray;

                .dot__icon {
                    margin-right: 0.625rem;
                }

                #sixth_item {
                    max-width: 30.4rem;
                }

                #eighth_item {
                    max-width: 29.375rem;
                }

                #ninth_item {
                    max-width: 30.7rem;
                }

                .list-group-item__elements {
                    margin: 0;
                }
            }
        }

        .circle_b4_down {
            position: absolute;
            top: 14rem;
            left: 10rem;

            @media screen and (max-width:991px) {
                display: none;
            }
        }
    }
}