/*header*/
header {
  background-color: #e5f3ff;
  font-size: 1.2rem;
  font-family: "Roboto", Arial, sans-serif;
}
header .header-logo {
  margin-left: 5.625%;
}
header .header-logo img {
  max-height: 70px;
}
header .header-menu {
  justify-content: end;
  padding-left: 5%;
  font-weight: 500;
}
header .header-menu a {
  padding-right: 6%;
  padding-bottom: 0.3rem;
}
header .header-menu a:hover {
  opacity: 0.85;
  transition: 0.5s;
}
header .header__link {
  color: #54566b;
}
header .button__header {
  margin-right: 5.625%;
}
header .button__header a {
  text-decoration: none;
  color: #fff;
}
header .button__header:hover {
  opacity: 0.85;
  transition: 0.5s;
}
header .button__header .button__header-red {
  width: 9rem;
  height: 3rem;
  font-size: 1rem;
  background-color: #f52222;
  color: #fff;
  border: none;
  border-radius: 10px;
  filter: drop-shadow(2px 4px 10px rgba(84, 86, 107, 0.3));
}

.header__offcanvas {
  background-color: #e5f3ff;
}

.header__button-menu {
  border: none;
}
.header__button-menu:focus {
  text-decoration: none;
  border: 1px;
  box-shadow: none;
}
.header__button-menu:hover {
  transition: 0.5s;
  background-color: #fcf5ec;
}

.header__offcanvas-body {
  height: 350px;
}

@media screen and (max-width: 576px) {
  .header__navbar-small img {
    max-width: 80px;
  }
}
.header__navbar-small .header__offcanvas-height {
  height: 60vh;
}
@media screen and (min-width: 390px) {
  .header__navbar-small .header__offcanvas-height {
    height: 45vh;
  }
}

/*header*/
/*arrowback*/
.back {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 5rem;
  right: 30px;
  background-color: #e5f3ff;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

/*arrowback*/
/*footer*/
footer {
  background-color: #e5f3ff;
  position: relative;
  padding: 1rem 5.625%;
  margin-top: 2rem;
}
footer .footer__text-autor {
  color: #54566b;
  text-align: end;
  padding-top: 0.3rem;
}
footer .footer__icon {
  max-width: 30px;
  padding: 0 2rem;
}
footer .footer__icon :hover {
  opacity: 0.85;
}
footer .img-envelope {
  max-width: 130px;
  height: auto;
  position: absolute;
  bottom: 1rem;
}
footer .img-envelope-small {
  max-width: 70px;
  height: auto;
  position: absolute;
  bottom: 2rem;
}

/*footer*/
/*main-banner*/
.btn-main:hover {
  opacity: 0.5;
}

@media screen and (max-width: 576px) {
  .block-2 {
    background-image: url(/assets/images/main-banner-mobile.png);
    border-color: #e5f3ff;
    background-size: cover;
    background-position: center center;
    padding: 3rem 0;
    font-size: 1rem;
  }
}
.btn-main {
  text-decoration: none;
  padding: 1rem 1.5rem;
  width: 261px;
  height: 73px;
  font-size: 24px;
  background-color: #f52222;
  color: #fff;
  border: none;
  z-index: 5;
  border-radius: 10px;
  filter: drop-shadow(2px 4px 10px rgba(84, 86, 107, 0.3));
}
@media (max-width: 576px) {
  .btn-main {
    height: 3rem;
    width: 8.25rem;
    font-size: 0.7rem;
    width: -moz-max-content;
    width: max-content;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .btn-main {
    height: 5rem;
    width: 7rem;
    font-size: 1.5rem;
    width: -moz-max-content;
    width: max-content;
  }
}

@media screen and (min-width: 577px) {
  .block-2 {
    background-image: url(/assets/images/main-banner.png);
    background-color: #e5f3ff;
    margin-bottom: 5rem;
    padding: 15rem 0 20rem;
    background-size: cover;
    background-position: center center;
  }
}
.main__main-text {
  color: #54566b;
  max-height: 886px;
  display: grid;
  align-items: center;
}

.main__card-title {
  font-size: 3.21rem;
}
@media (max-width: 576px) {
  .main__card-title {
    z-index: 6;
    font-size: 1rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .main__card-title {
    z-index: 6;
    font-size: 2rem;
  }
}
@media (min-width: 769px) and (max-width: 1199px) {
  .main__card-title {
    z-index: 6;
    font-size: 2.5rem;
  }
}

.main__card-text {
  font-size: 1.5rem;
  padding-top: 1rem;
}
@media (max-width: 576px) {
  .main__card-text {
    z-index: 6;
    font-size: 1rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .main__card-text {
    z-index: 6;
    font-size: 1.5rem;
  }
}
@media (min-width: 769px) and (max-width: 1199px) {
  .main__card-text {
    z-index: 6;
    font-size: 2rem;
  }
}

/*main-banner*/
/*block-3 services*/
.main__block-3 .card-title__services {
  color: #54566B;
}
.main__block-3 .card-body__services {
  width: 300px;
  height: 235px;
  background-color: #e5f3ff;
  border-radius: 10%;
  color: #54566b;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__block-3 .card-title__services {
  padding: 5px;
  margin: 10px;
}
.main__block-3 .btn__services {
  box-shadow: 1px 1px 1px rgba(224, 179, 128, 0.3);
  border-radius: 5px;
  margin-top: 5px;
  background-color: #f52222;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}
.main__block-3 .btn__services:hover {
  background-color: #FCF5EC;
  transition: 0.5s;
  opacity: 0.85;
  color: red;
}
.main__block-3 .modal-content__services {
  background-color: beige;
}
.main__block-3 .services__modal-header {
  display: grid;
  grid-template-columns: 18fr 1fr;
}
.main__block-3 .services__tittle-top {
  font-size: 4rem;
  margin-bottom: 4rem;
  font-weight: 700;
  font-family: "Roboto", Arial, sans-serif;
  color: #54566b;
}

@media screen and (min-width: 576px) {
  .services__modal-dialog {
    max-width: 70vw;
  }
}
/*block-3 services*/
/*block-4 aboutme*/
.block-4 {
  position: relative;
  font-family: "Roboto", Arial, sans-serif;
  color: #54566b;
  margin: 6rem auto 3rem auto;
}
.block-4 .title-block-4 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.7rem;
  margin: 0 0 4rem 0;
}
.block-4 .block-4__text-block {
  padding-left: 4.5rem;
}
.block-4 .card-body__title {
  margin: 2rem 0 2rem 0;
}
.block-4 .card-body__title .card-title__block-4 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.375rem;
  color: #54566b;
  margin: 0;
}
.block-4 .card-body__title .card-subtitle__block-4 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #54566b;
  margin: 0;
}
.block-4 .list-group__block4 {
  max-width: 37.125rem;
  padding-left: 0;
  margin-bottom: 0;
}
.block-4 .list-group__block4 .list-group-item,
.block-4 .list-group__block4 .list-group-item__second {
  padding: 0;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3rem;
  color: #54566b;
}
.block-4 .list-group__block4 .list-group-item {
  padding-bottom: 1.4rem;
}
.block-4 .list-group__block4 .list-group-item .bi-arrow-right-circle {
  margin-right: 1.375rem;
}
.block-4 .list-group__block4 .list-group-item__second {
  padding-bottom: 1rem;
}
.block-4 .list-group__block4 .list-group-item__second .bi-arrow-right-circle {
  margin-right: 1.375rem;
}
.block-4 .list-group__block4 .list-group-item__second .dot__icon {
  margin-right: 0.625rem;
}
.block-4 .list-group__block4 #second_item {
  max-width: 23.9375rem;
}
.block-4 .list-group__block4 #fourth_item {
  max-width: 29.9375rem;
}
.block-4 .list-group__block4 #sixth_item {
  max-width: 29.4375rem;
}
.block-4 .list-group__block4 #eighth_item {
  max-width: 29.375rem;
}
.block-4 .list-group__block4 #ninth_item {
  max-width: 30.7rem;
}
.block-4 .list-group__block4 .list-group-item__elements {
  margin: 0;
}
.block-4 .list-group__block4 .list-group__aboutme {
  padding-left: 3.58rem;
}
.block-4 .block4__img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.circle-aboutme {
  position: absolute;
  right: 5rem;
  top: 22rem;
  z-index: -1;
}

.circle-aboutme-up {
  position: relative;
  max-width: 399px;
  width: 100%;
  left: 1rem;
  top: -59rem;
  z-index: -1;
}

/*block-4 aboutme*/
/*block-5 price*/
.main__block-5 {
  font-family: "Roboto", Arial, sans-serif;
  color: #54566b;
  overflow: hidden;
}

.block-5__title {
  padding: 1rem 0 2.875rem;
  font-weight: 700;
  font-size: 4rem;
}

.block-5_card-body {
  height: 31.735rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 399px) {
  .block-5__card-col {
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 400px) and (max-width: 990px) {
  .block-5__card-col {
    border: 3px solid white;
    min-height: 31rem;
  }
}
@media screen and (min-width: 991px) and (max-width: 1399px) {
  .block-5__card-col .block-5_card-body {
    height: 40rem;
  }
}

.block-5__card {
  padding: 1.5rem 1.25rem 0 1.25rem;
  background-color: #e5f3ff;
  color: #54566b;
}

.block-5__card-title {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5625rem;
}

.block-5__list-group {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3125rem;
}

.block-5__card_time {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
}

.block-5__card_price {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.block-5__card_button {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.block-5__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 2.5rem;
  font-size: 1rem;
  background-color: #f52222;
  color: #fff;
  border: none;
  border-radius: 10px;
  filter: drop-shadow(2px 4px 10px rgba(84, 86, 107, 0.3));
}
.block-5__button:hover {
  opacity: 0.9;
  transition: 0.5s all;
}

/*block-5 price*/
/*block-6 reviews*/
.block-6 {
  margin-top: 5%;
  margin-bottom: 10%;
}

.card-wrapper__block-6 {
  display: flex;
  justify-content: center;
}

.card__block-6 {
  margin: 1%;
  padding: 1%;
  background-color: #e5f3ff;
}

.img__block-6 {
  box-shadow: 0px 1px 4px 1px #54566b;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5vw;
  height: 10vh;
  top: 50%;
  background-color: #f2c8be;
  opacity: 0.85;
  border-radius: 25%;
}

.title__block-6,
.text__block-6 {
  font-family: "Roboto", Arial, sans-serif;
  color: #54566b;
}

.title__block-6 {
  margin: 10%;
  font-size: 4rem;
  font-weight: 700;
}

.text__block-6 {
  width: 70%;
  font-size: 70%;
  font-weight: 400;
}

.reviews__block {
  height: 39rem;
}
@media screen and (max-width: 576px) {
  .reviews__block {
    height: 42rem;
  }
}

/*block-6 reviews*//*# sourceMappingURL=style.css.map */