@import "./var.scss";


header {
    background-color: $color-blue;
    font-size: 1rem;
    font-family: $font;

    .header-logo {
        margin-left: 5.625%;

        img {
            max-height: 70px;
        }
    }

    .header-header {
        justify-content: end;
        padding-left: 5%;
        font-weight: 500;

        a {
            padding-right: 6%;

            &:hover {
                opacity: 0.85;
            }
        }
    }

    .header-menu {
        margin: 0;
        padding-left: 0;
        justify-content: end;

        .header__item {
            padding: 0 1rem;
        }
    }

    .header__link {
        color: $color-gray;
    }



    .button__header {
        margin-right: 5.625%;

        a {
            text-decoration: none;
            color: #fff;
        }

        &:hover {
            opacity: 0.9;
        }



        .button__header-red {
            @include red-button (2.5rem, 8rem, 1rem)
        }
    }
}

.back {
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 5rem;
    right: 30px;
    background-color: $color-blue;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

footer {
    background-color: $color-blue;
    position: relative;
    padding: 1rem 5.625%;
    margin-top: 2rem;

    .footer__text-autor {
        color: $color-gray;
        text-align: end;
        padding-top: 0.3rem;
    }

    .footer__icon {
        max-width: 30px;
        padding: 0 2rem;

        :hover {
            opacity: 0.85;
        }
    }

    .img-envelope {
        max-width: 130px;
        height: auto;
        position: absolute;
        bottom: 1rem;
    }

    .img-envelope-small {
        max-width: 70px;
        height: auto;
        position: absolute;
        bottom: 2rem;
    }
}
.main__block-3 {
    
    .card-title__services {
        color: #54566B;
    }
    .card-body__services {
        width: 300px;
        height: 222px;
        background-color: #e5f3ff;
        border-radius: 10%; 
        color: #54566B;  
        font-family:"Roboto", Arial, sans-serif;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        
    }
    .card-title__services {
        padding:5px;
        margin: 10px;
    }
    .btn__services {
        box-shadow: 1px 1px 1px rgba(224, 179, 128, 0.3);
        border-radius: 5px;
        cursor: pointer;
        margin-top: 5px;
        background-color: #f52222;
        color: #fff;
    }
    
    .btn__services:hover {
        background-color:#FCF5EC;
        transition: 0.5s;
        opacity: 0.85;
        color: red;   
    }
     .modal-content__services {
        background-color:beige;
     }
    }
<<<<<<< HEAD
   
=======
   
>>>>>>> 8971120ae4e2bbaf39e726dd424acc3db47d44f7
