@import './_var.scss';


header {
    background-color: $color-blue;
    font-size: 1rem;
    font-family: $font;

    .header-logo {
        margin-left: 5.625%;

        img {
            max-height: 70px;
        }
    }

    .header-header {
        justify-content: end;
        padding-left: 5%;
        font-weight: 500;

        a {
            padding-right: 6%;

            &:hover {
                opacity: 0.85;
            }
        }
    }

    .header-menu {
        margin: 0;
        padding-left: 0;
        justify-content: end;

        .header__item {
            padding: 0 1rem;
        }
    }

    .header__link {
        color: $color-gray;
    }



    .button__header {
        margin-right: 5.625%;

        a {
            text-decoration: none;
            color: #fff;
        }

        &:hover {
            opacity: 0.9;
        }



        .button__header-red {
            @include red-button (2.5rem, 8rem, 1rem)
        }
    }
}

.back {
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 5rem;
    right: 30px;
    background-color: $color-blue;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

footer {
    background-color: $color-blue;
    position: relative;
    padding: 1rem 5.625%;
    margin-top: 2rem;

    .footer__text-autor {
        color: $color-gray;
        text-align: end;
        padding-top: 0.3rem;
    }

    .footer__icon {
        max-width: 30px;
        padding: 0 2rem;

        :hover {
            opacity: 0.85;
        }
    }

    .img-envelope {
        max-width: 130px;
        height: auto;
        position: absolute;
        bottom: 1rem;
    }

    .img-envelope-small {
        max-width: 70px;
        height: auto;
        position: absolute;
        bottom: 2rem;
    }
}

.block-4 {
    font-family: $font;
    color: $color-gray;
    margin: 6rem auto 6rem auto;

    .title-block-4 {
        font-weight: 700;
        font-size: 4rem;
        line-height: 4.7rem;
        margin: 0 0 4rem 0;
    }

    .block-4__image-block {
        position: relative;

        .block4__img {
            max-width: 100%;
            max-height: 100%;
        }

        .circle_b4_up {
            position: absolute;
            right: 13.5rem;
            bottom: 35rem;
            z-index: -1;

            @media screen and (max-width:991px) {
                display: none;
            }
        }
    }

    .block-4__text-block {
        padding-left: 4.5rem;
        position: relative;

        @media screen and (max-width:991px) {
            padding-left: 0rem;
        }

        .card-body__title {
            margin: 2rem 0 2rem 0;

            .card-title__block-4 {
                font-weight: 500;
                font-size: 2rem;
                line-height: 2.375rem;
                color: $color-gray;
                margin: 0;
            }

            .card-subtitle__block-4 {
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 1.75rem;
                color: $color-gray;
                margin: 0;
            }
        }

        .list-group__block4 {
            max-width: 37.125rem;
            padding-left: 0;
            margin-bottom: 0;

            .list-group-item,
            .list-group-item__second {
                padding: 0;
                font-weight: 400;
                font-size: 1.125rem;
                line-height: 1.3rem;
                color: $color-gray;
            }

            .list-group-item {
                padding-bottom: 1.4rem;

                .bi-arrow-right-circle {
                    margin-right: 1.375rem;
                }
            }

            .list-group-item__second {
                padding-bottom: 1rem;

                .bi-arrow-right-circle {
                    margin-right: 1.375rem;
                }

                .dot__icon {
                    margin-right: 0.625rem;
                }
            }

            #second_item {
                max-width: 23.9375rem;
            }

            #fourth_item {
                max-width: 29.9375rem;
            }

            #sixth_item {
                max-width: 29.4375rem;
            }

            #eighth_item {
                max-width: 29.375rem;
            }

            #ninth_item {
                max-width: 30.7rem;
            }

            .list-group-item__elements {
                margin: 0;
            }

            .list-group__aboutme {
                padding-left: 3.58rem;

                @media screen and (max-width:991px) {
                    padding-left: 2.5rem;
                }
            }
        }

        .circle_b4_down {
            position: absolute;
            top: 14rem;
            left: 10rem;

            @media screen and (max-width:991px) {
                display: none;
            }
        }
    }
}